@model BibliotecaProva.Models.Livros

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Livros</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="titulo" class="control-label"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="autor" class="control-label"></label>
                <input asp-for="autor" class="form-control" />
                <span asp-validation-for="autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="preco" class="control-label"></label>
                <input asp-for="preco" class="form-control" />
                <span asp-validation-for="preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantPag" class="control-label"></label>
                <input asp-for="quantPag" class="form-control" />
                <span asp-validation-for="quantPag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="editora" class="control-label"></label>
                <input asp-for="editora" class="form-control" />
                <span asp-validation-for="editora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datalancamento" class="control-label"></label>
                <input asp-for="datalancamento" class="form-control" />
                <span asp-validation-for="datalancamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
